.landingWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.landing {
    flex-basis: 66.67%; 
    flex-grow: 1; 
}

.news {
    flex-basis: 33.33%; 
    flex-grow: 1; 
}

.bodyWrapper{
    background: #f6f8fa;
}

@media (max-width: 768px) {
    .landingWrapper {
        flex-direction: column;
    }

    .landing,
    .news {
        flex-basis: auto;
        width: 100%; /* Make each section take full width on mobile */
    }
}
