.container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    color: red;
    padding-left: 20px;
}

.navlist {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.navlist span {
    padding-right: 10px;
    color: #b8babc;
    font-weight: 600;
    cursor: pointer;
}

.navlist span:hover {
    color: black;
}

.navlist .active {
    color: black;
}

.avatar {
    border-radius: 100%;

}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
}

/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebarOpen {
    right: 0;
}

.closeBtn {
    align-self: flex-end;
    font-size: 24px;
    cursor: pointer;
}
.sidebarLinks{
    display: flex;
    flex-direction: column;
}

.sidebarLinks span {
    margin-bottom: 20px;
    color: #b8babc;
    cursor: pointer;
}
.sidebarLinks .active{
    color:black
}

.sidebarLinks span:hover {
    color: black;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
    .navlist {
        display: none;
    }

    .hamburger {
        display: flex;
    }
   .avaMenu{
    display: flex;
    align-items: center;
   }
   .avatar{
    margin-right: 10px;
   }
}
