.container {
    padding: 50px;
}

.cardWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
}

@media (min-width: 768px) {
    .cardWrapper > div {
        flex-basis: 33.33%;
        flex-grow: 1;
    }
}

@media (max-width: 767px) {
    .cardWrapper {
        flex-direction: column;
    }

    .cardWrapper > div {
        width: 100%;
        flex-basis: 100%;
    }
}
