.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 23px;
    text-transform: uppercase;
}

.iconWrapper{
    display: flex;
    flex-direction: row;
    gap:30px;
    color: #b8babc;
}

.iconWrapper .active{
    color:black
}